#headerTitle{
    font-family: 'Manrope', sans-serif;
    font-size: 90px;
    opacity: 0.65;
    transition: 0.4s;
}
#headerTitle:hover{
    opacity:1;
}
#header{
    display:flex;
    justify-content: center;
    margin-top: calc(30vh - 45px);
}
#homeHTML{
    background-image: linear-gradient(rgb(230, 0, 0), rgb(230,146,0));
    height: 100vh;
}