#headerTitle{
    font-family: 'Manrope', sans-serif;
    font-size: 90px;
    opacity: 0.65;
    transition: 0.4s;
    margin-top: calc(30vh - 45px);
}
#headerTitleSub{
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    opacity: 0.65;
    transition: 0.4s;
    margin-top: 20px;
}
#headerTitle:hover{
    opacity:1;
}
#headerTitleSub:hover{
    opacity:1;
}
.text{
    display:flex;
    justify-content: center;
    text-shadow: 1px -1px #fff 1px 1px #fff -1px 1px #fff -1px -1px #fff;
   
}
#homeHTML{
    background-image: radial-gradient(rgb(230, 0, 0), rgb(255,165,0));
    height: 100vh;
}