/* Title Screen */
#headerTitle{
    font-family: 'Text Me One', sans-serif;
    font-size: 140px;
    opacity: 0.65;
    transition: 0.4s;
    margin-top: calc(30vh - 45px);
    position: relative;
}
#headerTitleSub{
    position: absolute;
    font-family: 'Text Me One', sans-serif;
    font-size: 30px;
    opacity: 0.65;
    top: calc(30vh + 145px)
}
#headerTitle:hover{
    opacity:1;
    font-size: 145px;
}
#headerTitle::after{
    content : "";
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    height: 4px;
    border-radius: 15px;
    background : currentColor;
    transform: scaleX(0);
    transform-origin : right;
    transition:  transform 300ms ease-in;
}
#headerTitle:hover::after{
    transform: scaleX(1);
    transform-origin : left;
}
.text{
        display:flex;
        justify-content: center;
    }
.homeHTML{
    background-image: radial-gradient(rgb(230, 0, 0), rgb(255,165,0));
    height: 100vh;
}

/* Quiz Screen */

#quiz{
    background-image: radial-gradient(rgb(230, 0, 0), rgb(255,165,0));
    height: 100vh;
}

#scoreLine{
    display: flex;
    justify-content: center;
}

.score{
    font-size: 25px;
    margin-right: 10%;
    margin-left: 10%;
}

#questionLine{
    display: flex;
    justify-content: center;
}

#question{
    text-decoration: underline;
    font-family: “Open Sans”, sans-serif;
    color: black;
    text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px         #F90, 0px -20px 40px #C33;
}

#questionTypeLine{
    display: flex;
    justify-content: center;
}

.answerLine{
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin-top: 40px;
}

.answerChoices{
    width: 40%;
    height: 125px;
    font-size: 150%;

    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-image: radial-gradient(rgb(40, 40, 40), rgb(10,10,10));
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #222;
    font-family: 'Text Me One', sans-serif;
}

.answerChoices:hover {
    background-color: #3e8e41
}

.answerChoices:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.answerChoices1{
    width: 40%;
    height: 100%;
    font-size: 100%;

    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 92%);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#explanationLine{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#explanation{
    border: 2px solid black;
    border-radius: 15px;
    padding: 25px;
    width:500px;
    background-color: #fff;
    font-family: 'Text Me One', sans-serif;
    font-size:20px;
}

#nextLine{
    display: flex;
    justify-content: center;
    width: 100%;
}

#next{
    /* background-image: url("https://media2.giphy.com/media/YPhuwt9pV2XLM2HIq4/giphy.webp?cid=ecf05e47c1f054a35eff8f55aa9c333bf91fb326cf13f61d&rid=giphy.webp");
    background-repeat: no-repeat; */
    height: 125px;
    width: 30%;
    border: none;
    border-radius: 15px;
    background-image: radial-gradient(rgb(50, 50, 50), rgb(10,10,10));
    box-shadow: 0 9px #222;
    color: white;
    font-size: 300%;
    font-family: 'Text Me One', sans-serif;
}

/* End Screen */

#end{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 92%);
}

#gif{
    display: flex;
    justify-content: center;
    height: 300px;
}

#giphy{
    height: 90%;
    width:  50%;
}

#totalScore{
    display: flex;
    justify-content: center;
}

#websites{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

#realNews{
    display: block;
    width: 50%;
    border: 2px solid blue;
    margin-right: 5%;
    border-radius: 50%;
    padding: 5%;
}

#fakeNews{
    display: block;
    width: 50%;
    border: 2px solid red;
    border-radius: 50%;
    padding: 5%;

    background-image: url("https://media2.giphy.com/media/3oKIPkHXpUP8lIO0AU/giphy.webp?cid=ecf05e47791030fa3957e2a073f5721edc6c4d9a4589e101&rid=giphy.webp");
    /* background-repeat: no-repeat; */
    background-position: center;
}

.title{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-weight: bold;
}

.title1{
    font-size: 25px;
}

li {
    margin: 0 0 0.5em 0;
    font-size: 20px;
}

.list{
    display: flex;
    justify-content: center;
}

a{
    color: purple;
}

#some{
    height: 150px;
}

#fire{
    height: 150%;
    width: 100%;

    background-image: url("https://media1.giphy.com/media/8cjvqMVkSmfGE/giphy.webp?cid=ecf05e47791030fa3957e2a073f5721edc6c4d9a4589e101&rid=giphy.webp");
    background-repeat: no-repeat;

    background-position: center;
}

#hm{
    display: flex;
    justify-content: center;
}

#hmm{
    display: block;
}

#remember{
    font-size: 15px;
    color: white;
}

#good {
  text-align: center;

  /* Same trick as previsouly used to make circles */
  box-sizing: border-box;
  width     : 150px;
  height    : 150px;
  padding   : 80px 1em 0 1em;

  /* We make room for the "ears" of our cloud */
  margin    : 0 100px;

  position: relative;

  background-color: #A4C9CF;

  /* Well, actually we are not making a full circle
     as we want the bottom of our cloud to be flat.
     Feel free to tweak this example to make a cloud
     that isn't flat at the bottom ;) */
  border-radius: 100% 100% 0 0;
}

/* Those are common style that apply to both our ::before
   and ::after pseudo elements. */
#good::before,
#good::after {
  /* This is required to be allowed to display the
     pseudo-elements, event if the value is an empty
     string */
  content: '';

  /* We positionnate our pseudo-elements on the left and
     right sides of the box, but always at the bottom */
  position: absolute;
  bottom  : 0;

  /* This makes sure our pseudo-elements will be below
     the box content whatever happens. */
  z-index : -1;

  background-color: #A4C9CF;
  border-radius: 100%;
}

#good::before {
  /* This is the  size of the clouds left ear */
  width  : 125px;
  height : 125px;

  /* We sligthly move it to the left */
  left    : -80px;

  /* To make sure that the bottom of the cloud
     remains flat, we must make the bottom right
     corner of the left ear square. */
  border-bottom-right-radius: 0;
}

#good::after {
  /* This is the size of the clouds left ear */
  width  : 100px;
  height : 100px;

  /* We sligthly move it to the right */
  right   : -60px;

  /* To make sure that the bottom of the cloud
     remains flat, we must make the bottom left
     corner of the right ear square. */
  border-bottom-left-radius: 0;
}
